@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@layer utilities {
  .overlay-wrapper {
    @apply fixed z-50 inset-0 flex items-center justify-center;
    background-color: var(--overlay);

    & .content {
      @apply flex flex-col items-center gap-2;

    }
  }

  .spinner {
    @apply w-9 h-9 border-4 rounded-full animate-spin;
    border-color: var(--color-srf);
    border-top-color: var(--color-text);
  }
}